body{
    height:100%;
    background-color: #343a40;
}
slider{
    height: 50%;
}

#popup{
    float: left;
    color:white;
    font-size: 50px;
    position: absolute;
    top:40%;
    left:42%;
    font-family: 'Sonsie One', cursive;

    
}

.portada{
    margin:30px;
    color: white;
}

.publi{
    margin: 10px 0;
}


.principal{
    height: 25%;
}

.principal img{
    
    
}
.secundario{
    margin:10px 0;
    height: 15%;
}

.secundario img{
   
}

footer{
    color:white;
    background-color: black;
    text-align: center;
    
}

.miniatura{
    
}

.desc{
    height: 80%;
    padding:10px;
   
}

