body{
    height:100%;
    background-color: #25292d;
    font-family: 'Roboto Condensed', sans-serif;
}
slider{
    height: 50%;
}

#popup{
    float: left;
    color:white;
    font-size: 50px;
    position: absolute;
    top:40%;
    left:42%;
    font-family: 'Wallpoet', cursive;

    
}

.portada{
    margin:30px;
    color: white;
}

.publi{
    margin: 10px 0;
}


.principal{
    height: 25%;
}


.secundario{
    margin:10px 0;
    height: 15%;
}



footer{
    color:white;
    background-color: black;
    text-align: center;
    
}



.desc{
    height: 80%;
    padding:10px;
   
}

.noticia{
    color: white;
    margin: 20px 0;
}

.carga{
    padding:10px 10px;
    margin:0 10px;
}
.t_carga{
    color:white;
    margin:0;
    position: relative;
    left:5px;
}


.modal-title{
    text-align: center;
}
.modal-content{
    text-align: center;
    

}
.modal-header{
    background-color:#4c5054;
    
}

.deshab{
    background-color: red;
    
}

.modal-content{
    color:white;
}

.habil{
    background-color: green;
}

.modal-footer{
    background-color:#4c5054;
    
}

.modal-body p{
    margin:0;
    font-size: 15px;
}

.divpubli{
    height: 100px;
    width: 320px;
    text-align: center;
    margin:0 auto;
    margin-bottom: 12px;
}

.webs{
    color:white;
}

.footer{
    position: fixed;
    bottom: 0px;
}

@media (max-width: 320px) {
    
    .divpubli{
        height: 100px;
        width: 280px;
        
    }
    
  }



