body{
    height:100%;
    background-color: #25292d;
}
slider{
    height: 50%;
}

#popup{
    float: left;
    color:white;
    font-size: 50px;
    position: absolute;
    top:40%;
    left:42%;
    font-family: 'Sonsie One', cursive;

    
}

.portada{
    margin:30px;
    color: white;
}

.publi{
    margin: 10px 0;
}


.principal{
    height: 25%;
}

.principal img{
    
    
}
.secundario{
    margin:10px 0;
    height: 15%;
}

.secundario img{
   
}

footer{
    color:white;
    background-color: black;
    text-align: center;
    
}

.miniatura{
    
}

.desc{
    height: 80%;
    padding:10px;
   
}

.noticia{
    color: white;
    margin: 20px 0;
}

.carga{
    padding:10px 10px;
    margin:0 10px;
}
.t_carga{
    color:white;
    margin:0;
    position: relative;
    left:5px;
}


.modal-title{
    text-align: center;
}
.modal-content{
    text-align: center;
    

}
.modal-header{
    background-color:#4c5054;
    
}

.deshab{
    background-color: red;
    
}

.modal-content{
    color:white;
}

.habil{
    background-color: green;
}

.modal-footer{
    background-color:#4c5054;
    
}

.modal-body p{
    margin:0;
    font-size: 15px;
}

